<%- include('../templates/header.ejs'); %>

<div class="container">
    <div class="top">
        <h2 class="title">Profil</h2>
    </div>
    <div class="main">
        <div class="avatar">
            <img src="/public/img/avatar.png" />
        </div>
        <h2 class="name"><%= user.name %></h2>
        <h3 class="class"><%= user.username %></h3>
        <br><br>
        <div class="list">
            <p>Jenis Kelamin</p>
            <% if(user.gender == "1"){ %>
            <small>Laki-laki</small>
            <% }else{ %>
            <small>Perempuan</small>
            <% } %>
        </div>
        <div class="list">
            <p>Sekolah</p>
            <small><%= user.school %></small>
        </div>
        <div class="list list-bottom">
            <a href="/logout"><p style="color: red;"><i class="fa fa-sign-out-alt"></i> Logout</p></a>
        </div>
        <br>
    </div>
</div>
<div class="bottom-menu">
    <a href="/">
            <div class="item item-home">
                <div class="main">
                    <img src="/public/img/home-menu.png" class="home img-active" />
                    <span class="home">Beranda</span>
                </div>
            </div>
        </a>
        <a href="/history">
            <div class="item item-history">
                <div class="main">
                    <img src="/public/img/history-menu.png" class="history" />
                    <span class="history">Riwayat</span>
                </div>
            </div>
        </a>
        <a href="/profile">
            <div class="item item-profile">
                <div class="main">
                    <img src="/public/img/profile-menu-color.png" class="profile" />
                    <span class="profile menu-active">Profil</span>
                </div>
            </div>
        </a>
    </div>

<%- include('../templates/footer.ejs'); %>